body {
  padding: 0;
  margin: 0;
  background: rgb(250, 255, 189);
  font-family: Arial, Helvetica, sans-serif;
}
#main {
  display: none;
}
.introHeading {
  text-align: center;
  font-size: 2.4vw;
  font-weight: 700;
  padding-top: 3vw;
}
.introText {
  text-align: center;
  font-size: 1.1vw;
  font-weight: 600;
  padding-top: 3vw;
  padding-bottom: 3vw;
  width: 50%;
  transform: translateX(50%);
}
.large {
  font-weight: 700;
  font-size: 2.5vw;
  padding-left: 15vw;
  pointer-events: none;
}
.drop {
  font-weight: 500;
  text-align: center;
}
.drop:hover {
  cursor: pointer;
}
#wrapper {
  margin: auto;
  padding-top: 50px;
  width: 1000px;
  height: 1000px;
  display: none;
}
#circlecanvas,
#circlecanvas2 {
  position: absolute;
  width: 1000px;
  height: 1000px;
}
#buttons {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20vh;
}
#startButton {
  float: left;
  z-index: 5;
  pointer-events: none;
  opacity: 0;
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  background-color: #f1f1f1;
}
#startButton:hover {
  background-color: #e4e4e4;
}
#stopButton {
  float: right;
  z-index: 5;
  pointer-events: none;
  opacity: 0;
  border-radius: 2px;
  background-color: #f1f1f1;
}
#stopButton:hover {
  background-color: #e4e4e4;
}
#confirmButton,
#confirmIntro {
  margin: 0 auto;
  display: block;
  z-index: 5;
  background-color: #f1f1f1;
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
#confirmButton:hover,
#confirmIntro:hover {
  background-color: #e4e4e4;
}
#selection {
  padding-top: 0vh;
  height: 70vh;
  display: flex;
  flex-direction: column;
}
.selectInhale,
.selectHold,
.selectExhale {
  flex-grow: 1;
  display: block;
  width: 80%;
}

.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 10px;
  font-size: 3vh;
  border: solid;
  border-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: inline-block;
  width: 9vw;
  border-radius: 6px;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

.dropdownText {
  position: relative;
  display: inline-block;
  padding-left: 5vw;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-left: 2vw;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 9vw;
  border-radius: 0px 0px 10px 10px;
}

.dropdown-content p {
  color: black;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
}

.dropdown p:hover {
  background-color: #ddd;
}

.instructions {
  font-weight: 700;
  padding-top: 30px;
  text-align: center;
  width: 60vw;
  margin: auto;
}

.show {
  display: block;
}

.help {
  font-size: 25px;
  top: 4px;
  left: 60px;
  position: relative;
  display: inline-block;
  border-color: rgb(228, 0, 0);
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
}

.help:hover {
  border-color: rgb(189, 0, 0);
}

.help .helpTooltip {
  visibility: hidden;
  width: 120px;
  background-color: rgb(48, 48, 48);
  color: #fff;
  top: 100%;
  left: 50%;
  margin-left: -65px;
  margin-top: 5px;
  text-align: center;
  border-radius: 4px;
  padding: 8px;
  font-size: 13px;
  position: absolute;
  z-index: 1;
}

.help:hover {
  cursor: pointer;
}

.help:hover .helpTooltip {
  visibility: visible;
}

.help .helpTooltip::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -7px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(48, 48, 48) transparent;
}
